<noscript>
  <div class="noJavascript">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
</noscript>

<section class="loadingMessage displayFlex">
	<h1>LCBO.guide</h1>
	<h3>Search your local LCBO's inventory</h3>
	<h3>Find new products &amp see if it's there before you go.</h3>
	<h2 class="loadingMessage">Finding your location...</h2>
</section>

<search-bar class="searchBar"></search-bar>

<results-section class="resultWrapper"></results-section>

<div class="loadingMoreResultsMessage displayNone"><h4>Loading more products...</h4></div>
