@import 'setup';

body {
	background: white;
}

section.searchBar {
	width: 100%;
	position: fixed;
	top: 0;
	background: white;
	z-index: 999;
	padding: 10px 10px 10px 20px;
}

label {
	white-space: nowrap;
}

main.resultWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
}

section.result {
	background: white;
	width: 280px;
	position: relative;
	margin: 20px;
}

i {
	color: red;
	padding-right: 10px;
}

h3 {
	display: block;
}

div.onSaleTag {
	position: absolute;
	top:0;
	right: 0;
}