@import 'setup';

body {
	background: white;
}

a {
   outline: 0;
}

section.loadingMessage {
	position: fixed;
	z-index: 3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(241,241,241);
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

search-bar {
	width: 100%;
	position: fixed;
	top: 0;
	background: rgba(241,241,241,0.9);
	z-index: 2;
	padding: 10px 10px 10px 20px;
	nav.searchBar {
		form {
			line-height: 2;
			text-align: center;
		}
		span.searchBarSection {
			white-space: nowrap;
			display: inline;
			margin-right: 20px;
		}
		label {
			white-space: nowrap;
		}
		input[type=text] {
			width: 300px;
		}
		input[type=search]:focus, button {
			outline: none;
		}
		h4 {
		margin: 10px 10px 10px 0;
		display: inline;
		font-weight: 500;
		}
		h4.sortBy {
			margin-left: 10px;
		}
		div.searchTextBar {
			position: relative;
			display: inline-block;
			i {
				position: absolute;
				top: 9px;
				right: 0px;
				font-size: 14px;
				color: grey;
				cursor: pointer;
			}
		}
	}
}

.resultWrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
}

.singleResult {
	background: white;
	width: 275px;
	position: relative;
	margin: 20px;
}

i {
	color: red;
	padding-right: 10px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 72px;
}

h3 {
	display: block;
	font-weight: 700;
}

.displayNone {
	display: none;
}

.displayFlex {
	display: flex;
}